import { type FC } from 'react';

interface {{pascalCase name}}Props {}

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = () => {
    return (
        <div className="page-{{kebabCase name}}">
            <h1>{{pascalCase name}} Page</h1>
        </div>
    );
};